/* th,td{
    border: 1px solid;
    border-radius: 10px;
} */

.divticketasignar{
    width: 80%;
}

.tablaasignartecnico{
    border: 2px solid;
    border-color: black;
    border-radius: 10px;
}

/*css de los tr*/
.thdescripcion{
    border: 1px solid;
    border-radius: 10px;
   /* padding-left: 35%; */
   width: 100%;
}
.tddescripcion{
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
    overflow: hidden;
    text-align: center;
}
.tdtitulo{
    padding-left: -30%;
    border: 1px solid;
    border-radius: 10px;
}
.tdtitul
#pdescripcion{
    display: flex;
    height: 80px;
    /* width: 100%; */
    
    text-overflow: ellipsis;
    justify-content: space-around;
    overflow: hidden; 
    white-space:nowrap;
    
    /* margin-left: -150px; */
}
.tdtelefono,.tdcreadoel,.tdcorreo,
.tddireccion,.tdzona,.tdestado,
.tdtecnicoasignado,.tdsolicitudticket,
.tdactualizadoel{
    border: 1px solid;
    border-radius: 10px;
}

