.divp{
    margin-top: 50px;
    margin-left: 250px;
    /* width: 1200px;
    height: 1000px; */
}


.Div1{
    border-color: black;
    border-radius: 10px;
    width: 80%;
}
.div2{
    border-color: black;
    border-radius: 10px;
    width: 80%;
}

.tabla{
    width: 939px;
    border: 1px solid;
    border-radius: 10px;
}

.tabla2{
    border-top: 10px;
    border: 1px solid;
    border-radius: 10px;
    
}
/* td{
    border: 1px solid;
    border-radius: 10px;
} */

.tdbtnbor{
    width: 75px;
}


/*CSS de los TH*/

  .thtit{
    width: 16.6%;
}
.thdes{
    width: 16.6%;
}

.thdir{
    width: 16.6%;
}

.thzona{
    width: 16.6%;
}

.thest{
    width: 16.6%;
} 

/* .thcre{

    padding-right: 190px; 
} */
/*CSS de los TD*/
.pdes,.pdes1{
    padding-top: 25px;
    height: 80px;
    width: 120px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.tddir{
    width: 16.6%;
    height: 100px;
    padding: 30px;
}

.tdtit{
    width: 16.6%;
    height: 100px;
    padding-left: 30px;
}

.tdzona1{
    
    height: 100px;
    width: 16.6%;
}

.tdest{
    padding-left: 40px;
    height: 100px;
    width: 16.6%;
}

.tdcre{
    padding-left: 20px;
    height: 100px;
    width: 16.6%;;
}

.tr2{
    height: 100px
    
    
}

.btnas{
    font-family: "Poppins" , sans-serif;
    border-radius: 10px;
    background-color: #009CFF;
    width: 100px;
}

.btnmodificar{
    width: 100px;
    font-size: 15px;
    border-radius: 10px;
    background-color: yellow;
}

.btnborrar{
    width: 100px;
    font-size: 15px;
    border-radius: 10px;
    background-color: red;
    float: left;
}


/*hovers*/
.btnas:hover{
    background-color: #67c5ff;
    transition: 0.5ms ease-in-out background-color;
}

.btnmodificar:hover{
    background-color: rgb(255, 255, 203);
    transition: 0.5ms ease-in-out background-color;
}

.btnborrar:hover{
    background-color: rgb(253, 139, 139);
    transition: 0.5ms ease-in-out background-color;
}

/*fin hovers*/

.alink{
    color: black;
    text-decoration: none;
}


.btnas2{
    font-family: "Poppins" , sans-serif;
    border-radius: 10px;
    background-color: #009CFF;
}

.btnmodificar2{
    font-size: 15px;
    border-radius: 10px;
    background-color: #009CFF;
}

.btnborrar2{
    width: 73px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #009CFF;
}

.tabla{
    width: 90%;
}
.tabla2{
    width: 100%;
}
.tabla3{
    width: 90%;
}
.tabla4{
    width: 100%;
}
/*CSS de los TH*/

.thT{
    width: 16.6%;
}
.thDes{
    width: 16.6%;
}

.thDir{
    width: 16.6%;
}

.thZ{
    width: 16.6%;
}

.thEst{
    width: 16.6%;
} 

/*CSS de los TD*/
.pDes{
    padding-top: 25px;
    height: 80px;
    width: 120px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.tdDir{
    width: 16.6%;
    height: 100px;
    padding: 30px;
}

.tdT{
    width: 16.6%;
    height: 100px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    padding-left: 30px;
}

.tdZ{
    width: 16.6%;
    height: 100px;
}

.tdEst{
    padding-left: 40px;
    height: 100px;
    width: 16.6%;
}

.tdCre{
    padding-left: 20px;
    height: 100px;
    width: 16.6%;
}
/* td{
    border: 1px solid;
    border-radius: 10px;
} */
.tabla3{
    /* width: 939px; */
    border: 1px solid;
    border-radius: 10px;
}

tr.tr2:hover, tr.tr4:hover {background-color: #009CFF;  }

.tabla4{
    margin-bottom: 10px;
    border-top: 10px;
    border: 1px solid;
    border-radius: 10px;
}
a{
 text-decoration: none;   
 color: black;
}



/*CSS del crud de refacciones*/
.tdcrdrefnom{
    padding-left: 20px;
    width: 12.5%;
}
.tdcrdrefcant{
    text-align:center;
    width: 12.5%;
}
.tdcrdrefdes{
    width: 12.5%;
}
.tdcrdrefimg{
    width: 12.5%;
    padding-left: 40px;
}
.tdcrdrefest{
    padding-left: 40px;
    width: 12.5%;
}
.tdcrdrefcod{
    width: 12.5%;
}
.tdcrdrefcreat{
    width: 12.5%;
}
.tdcrdrefact{
    width: 12.5%;
}

.thcrdrefnom{
    width: 11.25%;
}
.thcrdrefcant{
    width: 11.25%;
}
.thcrdrefdes{
    width: 11.25%;
}
.thcrdrefimg{
    width: 11.25%;
}
.thcrdrefest{
    width: 11.25%;
}
.thcrdrefcod{
    width: 11.25%;
}
.thcrdrefcreat{
    width: 11.25%;
}
.thcrdrefact{
    width: 11.25%;
}

@media (max-width: 800px) {
    .pdes1{
        padding-top: 25px;
        height: 80px;
        width: 120px;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }
}