.divp{
    margin-top: 50px;
    margin-left: 350px;
    width: 1200px;
    height: 1000px;
}


.Div1{
    border-color: black;
    border-radius: 10px;
}

.tabla{
    width: 939px;
    border: 1px solid;
    border-radius: 10px;
}

.tabla2{
    border-top: 10px;
    border: 1px solid;
    border-radius: 10px;
}
/* td{
    border: 1px solid;
    border-radius: 10px;
} */

.tdbtnbor{
    width: 75px;
}


/*CSS de los TH*/

  .thtit{
    width: 190px;
}
.thdes{
    width: 202px;
}

.thdir{
    width: 156px;
}

.thzona{
    width: 120px;
}

.thest{
    width: 100px;
} 

/* .thcre{

    padding-right: 190px; 
} */
/*CSS de los TD*/
.pdes{
    padding-top: 25px;
    height: 80px;
    width: 200px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.tddir{
    height: 100px;
    padding: 30px;
}

.tdtit{
    height: 100px;
    padding-left: 30px;
}

.tdzona{
    
    height: 100px;
    width: 120px;
}

.tdest{
    padding-left: 20px;
    height: 100px;
    width: 100px;
}

.tdcre{
    padding-left: 20px;
    height: 100px;
    width: 150px;
}

.tr2{
    height: 100px
    
    
}

.btnas{
    font-family: "Poppins" , sans-serif;
    border-radius: 10px;
    background-color: #009CFF;
}

.btnmodificar{
    font-size: 15px;
    border-radius: 10px;
    background-color: #009CFF;
}

.btnborrar{
    width: 73px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #009CFF;
}

.alink{
    color: black;
    text-decoration: none;
}


.btnas2{
    font-family: "Poppins" , sans-serif;
    border-radius: 10px;
    background-color: #009CFF;
}

.btnmodificar2{
    font-size: 15px;
    border-radius: 10px;
    background-color: #009CFF;
}

.btnborrar2{
    width: 73px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #009CFF;
}



/*CSS de los TH*/

.thT{
    width: 190px;
}
.thDes{
    width: 202px;
}

.thDir{
    width: 156px;
}

.thZ{
    width: 120px;
}

.thEst{
    width: 100px;
} 

/*CSS de los TD*/
.pDes{
    padding-top: 25px;
    height: 80px;
    width: 200px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.tdDir{
    height: 100px;
    padding: 30px;
}

.tdT{
    height: 100px;
    padding-left: 30px;
}

.tdZ{
    
    height: 100px;
    width: 120px;
}

.tdEst{
    padding-left: 20px;
    height: 100px;
    width: 100px;
}

.tdCre{
    padding-left: 20px;
    height: 100px;
    width: 150px;
}
/* td{
    border: 1px solid;
    border-radius: 10px;
} */
.tabla3{
    width: 939px;
    border: 1px solid;
    border-radius: 10px;
}

tr:hover {background-color: #009CFF;}

.tabla4{
    
    border-top: 10px;
    border: 1px solid;
    border-radius: 10px;
}