html, body{
    min-height: 100%;
}

#overlay1, #overlay2, #overlay3, #overlay4, #overlay5 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.fondo{
    padding: 20px;
    /* height: 80%; */
    min-height: 80%;
    width: 50%;
    margin: auto;
}

.bar-titulo{
    
    
    /* padding: 10px; */
    max-width: 100%;
    min-height: 40px;
    background-color: rgb(50, 245, 255);
}

.bar-titulo p{

    vertical-align: middle;
    /* background-color: red; */
}

.card{
    background-color: white;
    height: 100%;
    min-width: 100%;
    margin: auto;
}

.campos{
    padding: 40px;
}

.btn-crear{
    padding: 10px;
    /* margin-top: 40px; */
    float: right;
}
